@model DiMissionfileParser.Parser.Models.MissionTextSituation

@{
    ViewData["Title"] = "MissionTextSituation";
}

<h2>MissionTextSituation</h2>

<div>
    <h4> @Html.DisplayFor(model => model.FileName)</h4>
    <hr />
    
</div>
